trigger:
- master
pool:
  vmImage: 'windows-latest'
steps:
- script: |
- task: SynopsysPolaris@1
  inputs:
    polarisService: 'POLARIS_SIPSE_SERVER_URL'
    polarisCommand: '--co project.projectDir=D:\a\1\s\ -c D:\a\1\s\handlers\polaris.yml analyze -w'
    waitForIssues: true
  displayName: 'Command Line Script'